<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	bootstrap="test/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	verbose="true"
>
	<testsuites>
		<testsuite name="Fabrica tests">
			<directory suffix="Test.php">./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<extensions>
		<extension class="Noj\Fabrica\Adapter\Doctrine\PHPUnit\RefreshDatabase" />
	</extensions>
</phpunit>
